@model VUPayRoll.ViewModel.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";

    var day = DateTime.Now.Day;
    var month = DateTime.Now.Month;
}
<link href="~/Content/Pagination/simplePagination.css" rel="stylesheet" />
<script src="~/Content/Pagination/jquery.simplePagination.js"></script>
@*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>*@

<script type="text/javascript">
    jQuery(function ($) {
        var items = $("#content #myTable #contentrow");
        var numItems = items.length;
        var perPage = 3;
        items.slice(perPage).hide();
        $("#pagination").pagination({
            items: numItems,
            itemsOnPage: perPage,
            prevText: '<',
            nextText: '>',
            cssStyle: "light-theme",
            onPageClick: function (pageNumber) {
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;
                items.hide()
                    .slice(showFrom, showTo).show();
            }
        });
    });
</script>
<script type="text/javascript">
    jQuery(function ($) {
        var items = $("#content1 #myTable1 #contentrow1");
        var numItems = items.length;
        var perPage = 3;
        items.slice(perPage).hide();
        $("#pagination1").pagination({
            items: numItems,
            itemsOnPage: perPage,
            prevText: '<',
            nextText: '>',
            cssStyle: "light-theme",
            onPageClick: function (pageNumber) {
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;
                items.hide()
                    .slice(showFrom, showTo).show();
            }
        });
    });
</script>
<script type="text/javascript">
    jQuery(function ($) {
        var items = $("#content2 #myTable2 #contentrow2");
        var numItems = items.length;
        var perPage = 3;
        items.slice(perPage).hide();
        $("#pagination2").pagination({
            items: numItems,
            itemsOnPage: perPage,
            prevText: '<',
            nextText: '>',
            cssStyle: "light-theme",
            onPageClick: function (pageNumber) {
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;
                items.hide()
                    .slice(showFrom, showTo).show();
            }
        });
    });
</script>
<script type="text/javascript">
    jQuery(function ($) {
        var items = $("#content3 #myTable3 #contentrow3");
        var numItems = items.length;
        var perPage = 3;
        items.slice(perPage).hide();
        $("#pagination3").pagination({
            items: numItems,
            itemsOnPage: perPage,
            prevText: '<',
            nextText: '>',
            cssStyle: "light-theme",
            onPageClick: function (pageNumber) {
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;
                items.hide()
                    .slice(showFrom, showTo).show();
            }
        });
    });
</script>
<script type="text/javascript">
    jQuery(function ($) {
        var items = $("#content4 #myTable4 #contentrow4");
        var numItems = items.length;
        var perPage = 3;
        items.slice(perPage).hide();
        $("#pagination4").pagination({
            items: numItems,
            itemsOnPage: perPage,
            prevText: '<',
            nextText: '>',
            cssStyle: "light-theme",
            onPageClick: function (pageNumber) {
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;
                items.hide()
                    .slice(showFrom, showTo).show();
            }
        });
    });
</script>
<script type="text/javascript">
    jQuery(function ($) {
        var items = $("#content5 #myTable5 #contentrow5");
        var numItems = items.length;
        var perPage = 3;
        items.slice(perPage).hide();
        $("#pagination5").pagination({
            items: numItems,
            itemsOnPage: perPage,
            prevText: '<',
            nextText: '>',
            cssStyle: "light-theme",
            onPageClick: function (pageNumber) {
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;
                items.hide()
                    .slice(showFrom, showTo).show();
            }
        });
    });
</script>
<script>
    //Image();
    //function Image() {
    //    $.ajax({
    //        type: "POST",
    //        url: "/Dashboard/Image",
    //        success: function (result) {
    //            $("#navbarimage").attr("src", result);
    //            $("#insidenavbarimage").attr("src", result);
    //        }
    //    });
    //}
</script>
<div class="content-inner compact">
    <div class="container-fluid">
        <div class="row flex-row">
            @if (User.Identity.IsAuthenticated && Session["Role"] != null && Session["Role"].ToString() == "1")
            {
                foreach (var item in Model.Announcements.Where(x => x.IsDelete == false))
                {
                    <div class="col-xl-1s col-md-1">
                        <a href="/Announcement/Announces">
                            <div class="alert alert-shadow alert-lg" role="alert">
                                <img src="~/Content/Images/Speaker.gif" width="27" />
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-11 col-md-11 pl-0">
                        <div class="alert alert-shadow alert-lg" role="alert">
                            <marquee onmouseover="this.stop();" onmouseout="this.start();">
                                <strong>@item.Title</strong> @item.Body
                            </marquee>
                        </div>
                    </div>
                }
                <div class="col-xl-6 col-md-6">
                    <div class="widget widget-34 has-shadow">
                        <div class="widget">
                            <div class="widget-header bordered no-actions">
                                <h5><i class="la la-bell la-2x"></i>Alerts & Intimations</h5>
                            </div>
                            <div class="widget-body">
                                <table class="table table-hover mb-0 text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                Name
                                            </th>
                                            <th scope="col">
                                                Date
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Employees)
                                        {
                                            var EmpDay = item.DOB.GetValueOrDefault().Day;
                                            var EmpMonth = item.DOB.GetValueOrDefault().Month;

                                            if (EmpDay == day && EmpMonth == month)
                                            {
                                                <tr>
                                                    <td>
                                                        <span style="width:100px;">
                                                            <span class="badge-text badge-text-small info">
                                                                <i class="la la-birthday-cake"></i>
                                                                @item.FirstName @item.LastName
                                                            </span>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        @item.DOB.GetValueOrDefault().Date.ToString("dd-MMMM")
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="widget widget-34 has-shadow">
                        <div class="widget">
                            <div class="widget-header bordered no-actions">
                                <h5><i class="la la-users la-2x"></i> Users Approval (s)</h5>
                            </div>
                            <div class="widget-body">
                                <table class="table table-hover mb-0 text-center" id="content">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                User-Name
                                            </th>
                                            <th scope="col">
                                                Approval
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        @if (Model.Users.Count() == 0)
                                        {
                                            <tr>
                                                <td colspan="2" style="text-align:center;font-size:12px;font-weight:bold;">
                                                    No Data...
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in Model.Users)
                                            {
                                                <tr id="contentrow">
                                                    <td style="color:#5d5386">
                                                        <b>
                                                            @item.Username.ToUpper()
                                                        </b>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-shadow mr-1 mb-2 btn-sm myButton_@item.Id" onclick="Approved(@item.Id)" id="myButton">Click to Approve</button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="widget-footer d-flex align-items-center">
                                <div id="pagination" class="noprint"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-md-12">
                    <div class="widget widget-34 has-shadow">
                        <div class="widget">
                            <div class="widget-header bordered no-actions">
                                <h5> <i class="la la-chain la-2x"></i> Attendance Approval (s)</h5>
                            </div>
                            <div class="widget-body">
                                <table class="table table-hover mb-0" id="content4">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                User-Name
                                            </th>
                                            <th>
                                                Attentance Type
                                            </th>
                                            <th>
                                                In-Date
                                            </th>
                                            <th>
                                                In-Time
                                            </th>
                                            <th>
                                                Out-Time
                                            </th>
                                            <th>
                                                Remarks
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable4">
                                        @if (Model.Attendances.Count() == 0)
                                        {
                                            <tr>
                                                <td colspan="6" style="text-align:center;font-size:12px;font-weight:bold;">
                                                    No Data...
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in Model.Attendances)
                                            {
                                                <tr id="contentrow4" onclick="ShowModalForAttendance(@item.Id)" style="cursor:pointer">
                                                    <td>
                                                        <span style="width:100px;">
                                                            <span class="badge-text badge-text-small info">
                                                                @item.User.Username.ToUpper()
                                                            </span>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        @item.AttentanceType.ToString()
                                                    </td>
                                                    <td>
                                                        @item.InDate.Date.ToShortDateString()
                                                    </td>
                                                    <td>
                                                        @item.InTime.ToShortTimeString()
                                                    </td>
                                                    <td>
                                                        @item.OutTime.ToShortTimeString()
                                                    </td>
                                                    <td>
                                                        @item.Remarks
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="widget-footer d-flex align-items-center">
                                <div id="pagination4" class="noprint"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-md-12">
                    <div class="widget widget-34 has-shadow">
                        <div class="widget">
                            <div class="widget-header bordered no-actions">
                                <h5> <i class="la la-chain la-2x"></i> Leave Approval (s)</h5>
                            </div>
                            <div class="widget-body">
                                <table class="table table-hover mb-0" id="content1">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                User-Name
                                            </th>
                                            <th scope="col">
                                                Leave Type
                                            </th>
                                            <th>
                                                Short Leave
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable1">
                                        @if (Model.leaves.Count() == 0)
                                        {
                                            <tr>
                                                <td colspan="5" style="text-align:center;font-size:12px;font-weight:bold;">
                                                    No Data...
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in Model.leaves)
                                            {
                                                <tr id="contentrow1" onclick="ShowModal(@item.Id)" style="cursor:pointer">
                                                    <td>
                                                        <span style="width:100px;">
                                                            <span class="badge-text badge-text-small info">
                                                                @item.User.Username.ToUpper()
                                                            </span>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        @item.LeaveType.ToString()
                                                    </td>
                                                    <td>
                                                        @item.LeaveStatus.ToString()
                                                    </td>
                                                    @if (item.LeaveStatus.ToString() == "Yes")
                                                    {
                                                        <td>
                                                            @item.Date.GetValueOrDefault().Date.ToShortDateString()-(@item.LeavehfDay.GetValueOrDefault().ToString())
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            @item.DateRange
                                                        </td>
                                                    }
                                                    <td>
                                                        @item.Description
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="widget-footer d-flex align-items-center">
                                <div id="pagination1" class="noprint"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-xl-12 col-md-12">
                    <div class="row flex-row">
                        <div class="col-xl-4 col-md-6 col-sm-6">
                            <div class="widget widget-12 has-shadow">
                                <div class="widget-body">
                                    <div class="media">
                                        <div class="align-self-center ml-5 mr-5">
                                            <a href="http://vusolutions.net/">
                                                <i class="la la-globe"></i>
                                            </a>
                                        </div>
                                        <div class="media-body align-self-center">
                                            <div class="title">
                                                <a href="http://vusolutions.net/">
                                                    <b>VU-Solutions</b>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-sm-6">
                            <div class="widget widget-12 has-shadow">
                                <div class="widget-body">
                                    <div class="media">
                                        <div class="align-self-center ml-5 mr-5">
                                            <a href="https://web.facebook.com/VUSolutions.Official/?_rdc=1&_rdr">
                                                <i class="la la-facebook">

                                                </i>
                                            </a>
                                        </div>
                                        <div class="media-body align-self-center">
                                            <div class="title">
                                                <a href="https://web.facebook.com/VUSolutions.Official/?_rdc=1&_rdr">
                                                    <b>VU-Solutions</b>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-sm-6">
                            <div class="widget widget-12 has-shadow">
                                <div class="widget-body">
                                    <div class="media">
                                        <div class="align-self-center ml-5 mr-5">
                                            <a href="https://www.linkedin.com/organization-guest/company/vu-solutions-pvt-ltd?challengeId=AQEg1gcaRgjceQAAAXOFMmq0liRMPIBPnY2g_u_r0fluwFLqgCvMS0EBXc9XQ-JnCO66SQ-WaNEWgZlraFOHCdJZpzpxsK5aYA&submissionId=803ace85-2cf3-2416-188c-ea9cb7910b43">
                                                <i class="la la-linkedin"></i>
                                            </a>
                                        </div>
                                        <div class="media-body align-self-center">
                                            <div class="title">
                                                <a href="https://www.linkedin.com/organization-guest/company/vu-solutions-pvt-ltd?challengeId=AQEg1gcaRgjceQAAAXOFMmq0liRMPIBPnY2g_u_r0fluwFLqgCvMS0EBXc9XQ-JnCO66SQ-WaNEWgZlraFOHCdJZpzpxsK5aYA&submissionId=803ace85-2cf3-2416-188c-ea9cb7910b43">
                                                    <b>VU-Solutions</b>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                foreach (var item in Model.Announcements.Where(x => x.IsDelete == false))
                {
                    <div class="col-xl-1s col-md-1">
                        <div class="alert alert-shadow alert-lg" role="alert">
                            <img src="~/Content/Images/Speaker.gif" width="27" />
                        </div>
                    </div>
                    <div class="col-xl-11 col-md-11 pl-0">
                        <div class="alert alert-shadow alert-lg" role="alert">
                            <marquee onmouseover="this.stop();" onmouseout="this.start();">
                                <strong>@item.Title</strong> @item.Body
                            </marquee>
                        </div>
                    </div>
                }
                <div class="col-xl-8 col-md-8">
                    <div class="widget widget-34 has-shadow">
                        <div class="widget">
                            <div class="widget-header bordered no-actions">
                                <h5><i class="la la-chain la-2x"></i> Leave Apply Request (s)</h5>
                            </div>
                            <div class="widget-body">
                                <table class="table table-hover mb-0" id="content2">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                Leave Type
                                            </th>
                                            <th>
                                                Short Leave
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable2">
                                        @if (Model.leaves.Count() == 0)
                                        {
                                            <tr>
                                                <td colspan="5" style="text-align:center;font-size:12px;font-weight:bold;">
                                                    No Data...
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in Model.leaves)
                                            {
                                                <tr id="contentrow2">
                                                    <td>
                                                        @item.LeaveType.ToString()
                                                    </td>
                                                    <td>
                                                        @item.LeaveStatus.ToString()
                                                    </td>
                                                    @if (item.LeaveStatus.ToString() == "Yes")
                                                    {
                                                        <td>
                                                            @item.Date.GetValueOrDefault().Date.ToShortDateString()-(@item.LeavehfDay.GetValueOrDefault().ToString())
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            @item.DateRange
                                                        </td>
                                                    }
                                                    <td>
                                                        @item.Description
                                                    </td>
                                                    @if (item.IsApproved == VUPayRoll.Entities.PayRoll_Enumerations.ApprovalStatus.InProcess)
                                                    {
                                                        <td>
                                                            <span style="width:100px;">
                                                                <span class="badge-text badge-text-small info">
                                                                    In Process
                                                                </span>
                                                            </span>
                                                        </td>
                                                    }
                                                    else if (item.IsApproved == VUPayRoll.Entities.PayRoll_Enumerations.ApprovalStatus.Approved)
                                                    {
                                                        <td>
                                                            <span style="width:100px;">
                                                                <span class="badge-text badge-text-small info">
                                                                    Approved
                                                                </span>
                                                            </span>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <span style="width:100px;">
                                                                <span class="badge-text badge-text-small info">
                                                                    Rejected
                                                                </span>
                                                            </span>
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="widget-footer d-flex align-items-center">
                                <div id="pagination2" class="noprint"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="widget widget-34 has-shadow">
                        <div class="widget">
                            <div class="widget-header bordered no-actions">
                                <h5><i class="la la-bell la-2x"></i>Alerts & Intimations</h5>
                            </div>
                            <div class="widget-body">
                                <table class="table table-hover mb-0 text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                Name
                                            </th>
                                            <th scope="col">
                                                Date
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Employees)
                                        {
                                            var EmpDay = item.DOB.GetValueOrDefault().Day;
                                            var EmpMonth = item.DOB.GetValueOrDefault().Month;

                                            if (EmpDay == day && EmpMonth == month)
                                            {
                                                <tr>
                                                    <td>
                                                        <span style="width:100px;">
                                                            <span class="badge-text badge-text-small info">
                                                                <i class="la la-birthday-cake"></i>
                                                                @item.FirstName @item.LastName
                                                            </span>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        @item.DOB.GetValueOrDefault().Date.ToString("dd-MMMM")
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-md-12">
                    <div class="widget widget-34 has-shadow">
                        <div class="widget">
                            <div class="widget-header bordered no-actions">
                                <h5> <i class="la la-chain la-2x"></i> Attedance Apply Request (s)</h5>
                            </div>
                            <div class="widget-body">
                                <table class="table table-hover mb-0" id="content3">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                Attentance Type
                                            </th>
                                            <th>
                                                In-Date
                                            </th>
                                            @*<th>
                                            Out-Date
                                            </th>*@
                                            <th>
                                                In-Time
                                            </th>
                                            <th>
                                                Out-Time
                                            </th>
                                            <th>
                                                Remarks
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable3">
                                        @if (Model.Attendances.Count() == 0)
                                        {
                                            <tr>
                                                <td colspan="7" style="text-align:center;font-size:12px;font-weight:bold;">
                                                    No Data...
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in Model.Attendances)
                                            {
                                                <tr id="contentrow3">
                                                    <td>
                                                        @item.AttentanceType.ToString()
                                                    </td>
                                                    <td>
                                                        @item.InDate.Date.ToShortDateString()
                                                    </td>
                                                    @*@if (!item.OutDate.HasValue)
                                                    {
                                                    <td>-</td>
                                                    }
                                                    else
                                                    {
                                                    <td>
                                                        Hi
                                                    </td>
                                                    }*@
                                                    <td>
                                                        @item.InTime.ToShortTimeString()
                                                    </td>
                                                    <td>
                                                        @item.OutTime.ToShortTimeString()
                                                    </td>
                                                    <td>
                                                        @item.Remarks
                                                    </td>
                                                    @if (item.IsApproved == VUPayRoll.Entities.PayRoll_Enumerations.ApprovalStatus.InProcess)
                                                    {
                                                        <td>
                                                            <span style="width:100px;">
                                                                <span class="badge-text badge-text-small info">
                                                                    In Process
                                                                </span>
                                                            </span>
                                                        </td>
                                                    }
                                                    else if (item.IsApproved == VUPayRoll.Entities.PayRoll_Enumerations.ApprovalStatus.Approved)
                                                    {
                                                        <td>
                                                            <span style="width:100px;">
                                                                <span class="badge-text badge-text-small info">
                                                                    Approved
                                                                </span>
                                                            </span>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <span style="width:100px;">
                                                                <span class="badge-text badge-text-small info">
                                                                    Rejected
                                                                </span>
                                                            </span>
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="widget-footer d-flex align-items-center">
                                <div id="pagination3" class="noprint"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div id="modal-centered" class="modal fade">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Leave Detail</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover mb-0 text-center" id="content1">
                    <thead>
                        <tr>
                            <th>Approval</th>
                            <th>Rejection</th>
                        </tr>
                    </thead>
                    <tbody class="tablebody">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-shadow" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-centered" class="modal fade AttendanceModal">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Attendance Detail</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover mb-0 text-center">
                    <thead>
                        <tr>
                            <th>Approval</th>
                            <th>Rejection</th>
                        </tr>
                    </thead>
                    <tbody class="tablebodyforAttendance">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-shadow" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<script>
    function Approved(Id) {
        $.ajax({
            type: "POST",
            url: "/Account/Approved",
            data:
            {
                id: Id
            },
            success: function (result) {
                $(".myButton_" + Id).html("Approved");
            }
        });
    }
</script>
<script>
    function LeaveApproved(Id) {
        $.ajax({
            type: "POST",
            url: "/Leave/Approved",
            data:
            {
                id: Id
            },
            success: function (result) {
                $(".LeaveButton_" + Id).html("Approved");
            }
        });
    }
</script>
<script>
    function LeaveReject(Id) {
        $.ajax({
            type: "POST",
            url: "/Leave/Rejected",
            data:
            {
                id: Id
            },
            success: function (result) {
                $(".LeaveRejectButton_" + Id).html("Rejected");
            }
        });
    }
</script>
<script>
    function ShowModal(Id) {
        $.ajax({
            type: "POST",
            url: "/Leave/GetLeaveDetail",
            data:
            {
                Id: Id
            },
            success: function (result) {
                $('.tablebody').html('');
                var rows;
                rows = "<tr><td><button type='button' class='btn btn-shadow mr-1 mb-2 btn-sm LeaveButton_" + result.Id + "' onclick='LeaveApproved(" + result.Id + ")' id='LeaveButton'>Click to Approve</button></td><td><button type='button' class='btn btn-shadow mr-1 mb-2 btn-sm LeaveRejectButton_" + result.Id + "' onclick='LeaveReject(" + result.Id + ")' id='LeaveRejectButton'>Click to Reject</button></td></tr>"
                    $('.tablebody').append(rows);
                $('#modal-centered').modal('show');
            }
        });
    }
</script>
<script>
    function ShowModalForAttendance(Id) {
        $.ajax({
            type: "POST",
            url: "/Attendance/GetAttendanceDetail",
            data:
            {
                Id: Id
            },
            success: function (result) {
                $('.tablebodyforAttendance').html('');
                var rows;
                rows = "<tr><td><button type='button' class='btn btn-shadow mr-1 mb-2 btn-sm AttendanceButton_" + result.Id + "' onclick='AttendanceApproved(" + result.Id + ")' id='AttendanceButton'>Click to Approve</button></td><td><button type='button' class='btn btn-shadow mr-1 mb-2 btn-sm AttendanceRejectedButton_" + result.Id + "' onclick='AttendanceRejected(" + result.Id + ")' id='AttendanceRejectedButton'>Click to Reject</button></td></tr>"
                    $('.tablebodyforAttendance').append(rows);
                $('.AttendanceModal').modal('show');
            }
        });
    }
</script>
<script>
    function AttendanceApproved(Id) {
        $.ajax({
            type: "POST",
            url: "/Attendance/Approved",
            data:
            {
                id: Id
            },
            success: function (result) {
                $(".AttendanceButton_" + Id).html("Approved");
            }
        });
    }
</script>
<script>
    function AttendanceRejected(Id) {
        $.ajax({
            type: "POST",
            url: "/Attendance/Rejected",
            data:
            {
                id: Id
            },
            success: function (result) {
                $(".AttendanceRejectedButton_" + Id).html("Rejected");
            }
        });
    }
</script>